---
import { getCollection, type CollectionEntry } from "astro:content";
import CardLastPost from "../components/CardLastPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");

const sortedPosts = allPosts
  .filter((post: CollectionEntry<"posts">) => !post.data.draft)
  .sort(
    (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );

// Agrupa os posts por "Mês Ano"
const postsByMonth = sortedPosts.reduce((acc, post) => {
  const label = post.data.pubDate.toLocaleDateString("pt-BR", {
    month: "long",
    year: "numeric",
  });
  // Capitaliza a primeira letra (ex: "fevereiro 2026" → "Fevereiro 2026")
  const labelFormatted = label.charAt(0).toUpperCase() + label.slice(1);

  if (!acc[labelFormatted]) acc[labelFormatted] = [];
  acc[labelFormatted].push(post);
  return acc;
}, {} as Record<string, CollectionEntry<"posts">[]>);
---


<BaseLayout>
  <CardLastPost />
  <section class="list-posts">
    {
      Object.entries(postsByMonth).map(([month, posts]) => (
        <div class="month-group">
          <p class="month-title">{month}</p>
          <ul>
            {posts.map((post) => (
              <li>
                <a href={`/pages/${post.id}`}>{post.data.title}</a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </section>
</BaseLayout>